doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zooom
        //- MVP CSS: 하나의 CSS 파일 => 기본적인 HTML tag들을 예쁘게 바꿔줄 것이다
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header 
            h1 Zooom
        main 
            h2 Welcome to Zooom
        script(src="/public/js/app.js")